body { margin: 0px; }
#page { display: table; width: 368px; height: 100%; margin-left: auto; margin-right: auto; }
.center_vert { display: table-cell; vertical-align: middle; }

#login-box
{
    height: 400px;
    width: 9999px;
    padding: 0px 40px;
    background: #f8f8f8;
    box-shadow: 0px 1px 1px 1px #c7c7c7;
    vertical-align: middle;
    display: table-cell;
}
#login-box input { font-family: Arial, sans-serif; font-size: 12pt; height: 44px; }

#login-button { margin-top: 10px; height: 40px; font-size: 14px; }

p.sign-in { color: #454343; font-size: 15pt; text-align:  center; font-family: 'Open Sans', arial; }

.text-incorrect { color: #e64949; font-size: 12px; margin-top: 5px; }
